<a href="https://colab.research.google.com/github/hapito17/CSC221_MJALL005/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(magician)

alice
david
carolina

In [5]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(magician.title() + ", that was a great trick!")
  print("I can't wait to see your next trick, " + magician.title() + ".\n")

print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

In [8]:
pizzas = ['chicken', 'magarita', 'beef']
for pizza in pizzas:
  print(pizza)
  print(pizza.title() + ", oh how I love", pizza, "pizzas")

print("i really love all kinds of pizzas") #4.2 seems redundant

chicken
Chicken, oh how I love chicken pizzas
magarita
Magarita, oh how I love magarita pizzas
beef
Beef, oh how I love beef pizzas

In [10]:
for value in range(1,5):
 print(value)

1
2
3
4

In [9]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [11]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [12]:
squares = []
for value in range(1,11):
  square = value**2
  squares.append(square)
  print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)
max(digits)
sum(digits)

45

In [17]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
for value in range(1,21):
 print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [19]:
odd = list(range(1,21,2))
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [20]:
cubes = [value**3 for value in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [22]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")
for player in players[:3]:
 print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [24]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
my_foods.append('cannoli')
friend_foods.append('ice cream')
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

In [26]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])
for dimension in dimensions:
 print(dimension)

200
50
200
50

In [27]:
menu = ("water", "coffee", "expresso", "cappuccino", "tea")
for drink in menu:
 print(drink)

water
coffee
expresso
cappuccino
tea

In [37]:
def factorial(n):
  factor = 1
  for value in range(1,n+1):
    factor *= value
  return factor
factorial(10)

3628800

In [42]:
def special_factorial(n):
  factor = 1
  for value in range(1,n+1):
    if value != 4 and value != 13 and value != 22:
      factor *= value
  return factor
special_factorial(50)

26585745805693512275885146998308364374455980392448000000000000