<a href="https://colab.research.google.com/github/hapito17/CSC221_MJALL005/blob/main/Assignment16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.1
print('Hello World')
6000 + 4523.50 + 134.25

Hello World

10657.75

In [ ]:
_ + 8192.75 #apparently the '_' variable stores the previous calculation output

18850.5

In [ ]:
#1.2
# hello.py
print('Hello World')
#can't really execute on google colab but this subsection basically explains how to store and execute files

Hello World

In [ ]:
#1.3
42 # int
4.2 # float
'forty-two' # str
True # bool

x: int = 42
2 + 3 * 4 # -> 14

14

In [ ]:
# this uses a combination of variables and expressions to calculate compound interest for 5 years
principal = 1000 # Initial amount
rate = 0.05 # Interest rate
numyears = 5 # Number of years
year = 1
while year <= numyears:
  principal = principal * (1 + rate)
  print(f'{year:>3d} {principal:0.2f}') #use an f-string to make it pretty
  year += 1

  1 1050.00
  2 1102.50
  3 1157.62
  4 1215.51
  5 1276.28

In [ ]:
#1.4
#operators
print(9 + 3)
print(9 - 3)
print(9 * 3)
print(9 ** 3)
print(2 / 3)
print(2 // 3)
print(9 % 3)
print(-9)
print(+9)
print(abs(-3))
print(divmod(12, 5)) #same as (x // y, x % y)
print(pow(12, 15, 10)) #same as (x ** y) % modulo
print(round(23.96237, 3))

12
6
27
729
0.6666666666666666
0
0
-9
9
3
(2, 2)
8
23.962

In [ ]:
#bit manipulation
x = 0b11001001
y = 0b11110000
print(x << y)
print(x >> y)
print(x & y)
print(x | y)
print(x ^ y)
print(~x)

355136260020455250246242797649326621681324263271999410582442846459816574976
0
192
249
57
-202

In [ ]:
#comparisons
x = 10
y = 5
print(x == y)
print(x != y )
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

In [ ]:
x = True
y = False
print(x and y)
print(x or y)
print(not x)

False
True
False

In [ ]:
#1.5
a = 1
b = 3
if a < b:
  print('Computer says Yes')
elif a == b:
  print('Computer says equal')
else:
  print('Computer says No')

Computer says Yes

In [ ]:
x = 0
while (x := x + 1) < 10: # Prints 1, 2, 3, ..., 9
  print(x)

1
2
3
4
5
6
7
8
9

In [ ]:
x = 0
while x < 10:
  if x == 5:
    break # Stops the loop. Moves to Done below
  print(x)
  x += 1
print('Done')

0
1
2
3
4
Done

In [ ]:
x = 0
while x < 10:
  x += 1
  if x == 5:
    continue # Skips the print(x). Goes back to loop start.
  print(x)
print('Done')

1
2
3
4
6
7
8
9
10
Done

In [5]:
#1.6
a = 'Hello World'
b = "Python is groovy"
c = '''Computer says no.'''
d = """Computer still says no."""
print('''
Hello World
Click "http://www.python.org"
''')

Hello World
Click "http://www.python.org"

In [22]:
a = 'Hello World'
print(len(a)) # 11
b = a[4] # b = 'o'
c = a[-1] # c = 'd'
c = a[:5] # c = 'Hello'
d = a[6:] # d = 'World'
e = a[3:8] # e = 'lo Wo'
f = a[-5:] # f = 'World'

print(b)
print(c)
print(d)
print(e)
print(f)

g = a.replace('Hello', 'Hello Cruel') # f = 'Hello Cruel World'
print(g)

if a.endswith("World"): print("yes end's in World")
else: print("no, doesn't end in World")

if a.startswith("Hello"): print("yes start's with Hello")
else: print("no, doesn't start with Hello")

find = a.find("lo")
print(find)

h = a + 'ly'
print(h)
x = '37'
y = '42'
z = x + y # z = '3742' (String Concatenation)
print(z)

11
o
Hello
World
lo Wo
World
Hello Cruel World
yes end's in World
yes start's with Hello
3
Hello Worldly
3742

In [29]:
x = 5
print(type(x))
s = 'The value of x is ' + str(x)
print(s)
s = 'The value of x is ' + repr(x)
print(s)
s = 'The value of x is ' + format(x)
print(s)

<class 'int'>
The value of x is 5
The value of x is 5
The value of x is 5

In [39]:
#1.7
with open('data.txt', "w") as file:
  for x in range(10):
    file.write("hello world \n") #just writes hello world 1000 times

with open('data.txt', "r") as file:
  while (count := file.read(10)): # just using the walrus operator to iterate till end of file
    print(count, end='') # end='' omits the extra newline

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [55]:
#1.8
names = [ 'Dave', 'Paula', 'Thomas', 'Lewis' ]
print(names[0]) #prints first index
print(names[-1]) #prints last index
names.append('Alex') #adds alex to end of list
names.insert(2, 'Aya') #adds aya to 3rd position or 2nd index
print(names)

names[0:2] = ['Dave', 'Mark', 'Jeff'] # Replace the first three names
print(names)

names2 = ["Ben", "Teddy"]
names = names + names2 #joins the lists
print(names)

newnames = [x for x in names if "A" in x] #list comprehension to copy names that start with capital a
print(newnames)

Dave
Lewis
['Dave', 'Paula', 'Aya', 'Thomas', 'Lewis', 'Alex']
['Dave', 'Mark', 'Jeff', 'Aya', 'Thomas', 'Lewis', 'Alex']
['Dave', 'Mark', 'Jeff', 'Aya', 'Thomas', 'Lewis', 'Alex', 'Ben', 'Teddy']
['Aya', 'Alex']

In [50]:
a = [1, 'Dave', 3.14, ['Mark', 7, 9, [100, 101]], 10]
print(a[1]) # Returns 'Dave'
print(a[3][2]) # Returns 9
print(a[3][3][1]) # Returns 101

Dave
9
101

In [1]:
#1.9
holding = ('GOOG', 100, 490.10) #just some tuples
address = ('www.python.org', 80)
hi = ('Hi',)
print(holding)
print(address)
print(hi)

('GOOG', 100, 490.1)
('www.python.org', 80)
('Hi',)

In [10]:
#1.10
names1 = { 'IBM', 'MSFT', 'AA' }
names2 = set(['IBM', 'MSFT', 'HPE', 'IBM', 'CAT'])
print(names1)
print(names2)
names2.discard("pool") #discard will not raise an error for incorrect values
names1.remove("AA") #but remove will
names1.add("AA") #just adding it back
print(names1)
print(names2)

{'MSFT', 'AA', 'IBM'}
{'MSFT', 'CAT', 'HPE', 'IBM'}
{'MSFT', 'AA', 'IBM'}
{'MSFT', 'CAT', 'HPE', 'IBM'}

In [11]:
s = names1
t = names2
a = t | s # Union {'MSFT', 'CAT', 'HPE', 'AA', 'IBM'}
b = t & s # Intersection {'IBM', 'MSFT'}
c = t - s # Difference { 'CAT', 'HPE' }
d = s - t # Difference { 'AA' }
e = t ^ s # Symmetric difference { 'CAT', 'HPE', 'AA' }
print(a)
print(b)
print(c)
print(d)
print(e)

{'MSFT', 'AA', 'HPE', 'CAT', 'IBM'}
{'MSFT', 'IBM'}
{'HPE', 'CAT'}
{'AA'}
{'CAT', 'AA', 'HPE'}

In [19]:
#1.11
s = {
'name' : 'GOOG',
'shares' : 100,
'price' : 490.10
} # just creating a dictionary

name = s['name']
cost = s['shares'] * s['price']

print(name)
print(cost)

s['shares'] = 75
s['date'] = '2007-06-07' #just modifying the keys' value in the dictionary
del s['price']
print(s)

p = s.get('shares', 0.0) #if shares then store that else just store 0
print(p)
print(s.keys())
print(s.values())

GOOG
49010.0
{'name': 'GOOG', 'shares': 75, 'date': '2007-06-07'}
75
dict_keys(['name', 'shares', 'date'])
dict_values(['GOOG', 75, '2007-06-07'])

In [22]:
#1.12
for n in range(1, 10):
  print(f'2 to the {n} power is {2**n}')
a = range(5) # a = 0, 1, 2, 3, 4
b = range(1, 8) # b = 1, 2, 3, 4, 5, 6, 7
c = range(0, 14, 3) # c = 0, 3, 6, 9, 12
d = range(8, 1, -1) # d = 8, 7, 6, 5, 4, 3, 2

2 to the 1 power is 2
2 to the 2 power is 4
2 to the 3 power is 8
2 to the 4 power is 16
2 to the 5 power is 32
2 to the 6 power is 64
2 to the 7 power is 128
2 to the 8 power is 256
2 to the 9 power is 512

In [24]:
message = 'Hello World'
# Print out the individual characters in message
for c in message:
  print(c)
names = ['Dave', 'Mark', 'Ann', 'Phil']
# Print out the members of a list
for name in names:
  print(name)
prices = { 'GOOG' : 490.10, 'IBM' : 91.50, 'AAPL' : 123.15 }
# Print out all of the members of a dictionary
for key in prices:
  print(key, '=', prices[key])

H
e
l
l
o

W
o
r
l
d
Dave
Mark
Ann
Phil
GOOG = 490.1
IBM = 91.5
AAPL = 123.15

In [26]:
#1.13
def remainder(a, b):
  '''
  Computes the remainder of dividing a by b
  '''
  q = a // b # // is truncating division.
  r = a - q * b
  return (q, r) #just returns the quotient and the remainder
quotient, remainder = remainder(37, 15) #apparently this is how you store 2 returns into two variables
print(quotient)
print(remainder)

2
7

In [30]:
#1.14
try:
  print(v)
except:
  print("An exception occurred")
try:
  pass
finally:
  pass # whatever is here will run no matter what

An exception occurred

In [28]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: ignored

In [32]:
#1.15
raise SystemExit() # Exit with no error message
raise SystemExit("Something is wrong") # Exit with error

SystemExit: ignored

In [38]:
import atexit

names = ['hello', 'world']

def hello(name):
    print (name)

for name in names:

    # Using register()
    atexit.register(hello, name)

In [45]:
#1.16
items = [37, 42] # Create a list object
items.append(73) # Call the append() method
print(items)
# dir(items) lists the methods available for the object
items = items.__add__([92, 101]) #example of method available
print(items)

[37, 42, 73]
[37, 42, 73, 92, 101]

In [50]:
class Stack:
  def __init__(self): # Initialize the stack
    self._items = [ ]
  def push(self, item):
    self._items.append(item)
  def pop(self):
    return self._items.pop()
  def __repr__(self):
    return f'<{type(self).__name__} at 0x{id(self):x}, size={len(self)}>'
  def __len__(self):
    return len(self._items)

s = Stack() # Create a stack
s.push('Dave') # Push some things onto it
s.push(42)
s.push([3, 4, 5])
x = s.pop() # x gets [3,4,5]
y = s.pop() # y gets 42
print(x)
print(y)

[3, 4, 5]
42

In [51]:
class MyStack(Stack):
  def swap(self):
    a = self.pop()
    b = self.pop()
    self.push(a)
    self.push(b)
s = MyStack() #same as above code but just with a swap method
s.push('Dave')
s.push(42)
s.swap()
x = s.pop()
y = s.pop()
print(x)
print(y)

Dave
42

In [53]:
class NumericStack(Stack):
  def push(self, item):
    if not isinstance(item, (int, float)):
      raise TypeError('Expected an int or float') #this makes it so it only accepts numerical inputs
    super().push(item)
s = NumericStack()
s.push(42)
s.push('Dave')

TypeError: ignored

In [54]:
#1.17
#can't really execute on jupyter notebook but this section talks about the 'import' function and how to call and use modules.
'''
eg, from readport import read_portfolio
port = read_portfolio('portfolio.dat')
'''

"\neg, from readport import read_portfolio\nport = read_portfolio('portfolio.dat')\n"

In [ ]:
#1.18
# again can't really code so I'll just explained what I learned
#__name__ is a built-in variable that always contains the name of the enclosing module.
'''
also if __name__ == '__main__': main()
this is important to check if the program is run as the main script or not
'''

In [55]:
#1.19
'''
A package is a hierarchical collection of modules that should be represented in this form:
tutorial/
__init__.py
readport.py
pcost.py
stack.py
...
this allows you to make nested import statements e.g. 'from tutorial.readport import read_portfolio'
'''

"\nA package is a hierarchical collection of modules that should be represented in this form:\ntutorial/\n__init__.py\nreadport.py\npcost.py\nstack.py\n...\nthis allows you to make nested import statements e.g. 'from tutorial.readport import read_portfolio'\n"

In [56]:
#1.20
'''
Even though it's controversial, there are still some conventions that a programmer should try to uphold.
it's standard practice to organise large projects into packages.
you do this mainly to manage import statement with the package directory.
'''

"\nEven though it's controversial, there are still some conventions that a programmer should try to uphold.\nit's standard practice to organise large projects into packages.\nyou do this mainly to manage import statement with the package directory.\n"

In [57]:
#1.21
'''
use 'pip' to a third party package
'''

"\nuse 'pip' to a third party package\n"