<a href="https://colab.research.google.com/github/hapito17/CSC221_MJALL005/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)
print(bicycles[0])
print(bicycles[0].title())
print(bicycles[1])
print(bicycles[3])
print(bicycles[-1])
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

['trek', 'cannondale', 'redline', 'specialized']
trek
Trek
cannondale
specialized
specialized
My first bicycle was a Trek.

In [ ]:
#try it youself 3.1 - 3.3
friends = ["Mouhammed", "Ethan", "Kalvin"]
print(friends[0])
print(friends[1])
print(friends[-1])
print(friends[0] + " is a cool guy")
print(friends[1] + " is a cool guy")
print(friends[2] + " is a cool guy")
shows =  ["game of thrones", "vikings", "snowfall"]
print(shows[0] + " is an amazing show")
print(shows[1] + " is an amazing show")
print(shows[2] + " is an amazing show")

Mouhammed
Ethan
Kalvin
Mouhammed is a cool guy
Ethan is a cool guy
Kalvin is a cool guy
game of thrones is an amazing show
vikings is an amazing show
snowfall is an amazing show

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

motorcycles.append('bajaj')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki', 'bajaj']

In [ ]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print("The last motorcycle I owned was a " + last_owned.title() + ".")
first_owned = motorcycles.pop(0)
print('The first motorcycle I owned was a ' + first_owned.title() + '.')
print(motorcycles)

The last motorcycle I owned was a Suzuki.
The first motorcycle I owned was a Honda.
['yamaha']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
current = motorcycles[2]
motorcycles.insert(2, "hello")
print(motorcycles)
print(current)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'hello', 'suzuki']
suzuki

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [ ]:
# try it yourself 3.4
guests = ["Genghis Khan", "Adolf Hitler", "Julius Caesar"]
print("guest list")
print(guests[0] + " come to dinner")
print(guests[1] + " come to dinner")
print(guests[2] + " come to dinner")

# try it yourself 3.5
print("Oh no, it seems " + guests[1] + " can't make it")
guests[1] = "Napoleon Bonaparte"
print("\nnew guest list")
print(guests[0] + " come to dinner")
print(guests[1] + " come to dinner")
print(guests[2] + " come to dinner")

# try it yourself 3.6
print("\nmy my, I found a bigger table so i need to invite more people")
guests.insert(0, "Jesus")
guests.insert(2, "Muhammed")
guests.append("Alexander the Great")
print("\nnew new guest list")
print(guests[0] + " come to dinner")
print(guests[1] + " come to dinner")
print(guests[2] + " come to dinner")
print(guests[3] + " come to dinner")
print(guests[4] + " come to dinner")
print(guests[5] + " come to dinner")

# try it yourself 3.7
print("\nwell I'm dead :(, anyway it seems I can only invite 2 guests")
current = guests.pop(1)
print("sorry you can't come " + current + " just don't kill me")
current = guests.pop(2)
print("sorry you can't come " + current + " just don't kill me")
current = guests.pop(2)
print("sorry you can't come " + current + " just don't kill me")
current = guests.pop(2)
print("sorry you can't come " + current + " just don't kill me")
print(len(guests)) #try it yourself 3.9
print (guests[0] + " and " + guests[1] + " you're still invited")
del guests[0]
del guests[0]
print(guests)

guest list
Genghis Khan come to dinner
Adolf Hitler come to dinner
Julius Caesar come to dinner
Oh no, it seems Adolf Hitler can't make it

new guest list
Genghis Khan come to dinner
Napoleon Bonaparte come to dinner
Julius Caesar come to dinner

my my, I found a bigger table so i need to invite more people

new new guest list
Jesus come to dinner
Genghis Khan come to dinner
Muhammed come to dinner
Napoleon Bonaparte come to dinner
Julius Caesar come to dinner
Alexander the Great come to dinner

well I'm dead :(, anyway it seems I can only invite 2 guests
sorry you can't come Genghis Khan just don't kill me
sorry you can't come Napoleon Bonaparte just don't kill me
sorry you can't come Julius Caesar just don't kill me
sorry you can't come Alexander the Great just don't kill me
2
Jesus and Muhammed you're still invited
[]

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.sort()
print(cars)
cars.sort(reverse=True)
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['audi', 'bmw', 'subaru', 'toyota']
['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
print("Here is the original list:")
print(cars)
print("\nHere is the sorted list:")
print(sorted(cars))
print("\nHere is the original list again:")
print(cars)

Here is the original list:
['toyota', 'subaru', 'bmw', 'audi']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

In [ ]:
# try it yourself 3.8
locations = ["Eiffel Tower", "Egyptian Pyramids", "Taj Mahal", "Great wall of china", "Grand Canyon"]
print (locations)
print(sorted(locations))
print(locations)
temp = sorted(locations)
temp.reverse()
print(temp)
temp.reverse()
print(temp)
locations.sort()
print(locations)
locations.reverse()
print(locations)

['Eiffel Tower', 'Egyptian Pyramids', 'Taj Mahal', 'Great wall of china', 'Grand Canyon']
['Egyptian Pyramids', 'Eiffel Tower', 'Grand Canyon', 'Great wall of china', 'Taj Mahal']
['Eiffel Tower', 'Egyptian Pyramids', 'Taj Mahal', 'Great wall of china', 'Grand Canyon']
['Taj Mahal', 'Great wall of china', 'Grand Canyon', 'Eiffel Tower', 'Egyptian Pyramids']
['Egyptian Pyramids', 'Eiffel Tower', 'Grand Canyon', 'Great wall of china', 'Taj Mahal']
['Egyptian Pyramids', 'Eiffel Tower', 'Grand Canyon', 'Great wall of china', 'Taj Mahal']
['Taj Mahal', 'Great wall of china', 'Grand Canyon', 'Eiffel Tower', 'Egyptian Pyramids']

In [2]:
#try it yourself 3.10
jobs = ["Software Engineer", "Physicist", "Electrical Engineer", "Computer Scientist", "Roboticist"]
jobs.sort()
jobs.reverse()
print(jobs)
del jobs[1]
jobs.append("Mechanical Engineer")
print(jobs)
len(jobs)
jobs.sort()
print(jobs)

['Software Engineer', 'Roboticist', 'Physicist', 'Electrical Engineer', 'Computer Scientist']
['Software Engineer', 'Physicist', 'Electrical Engineer', 'Computer Scientist', 'Mechanical Engineer']
['Computer Scientist', 'Electrical Engineer', 'Mechanical Engineer', 'Physicist', 'Software Engineer']